{
  "plugins": ["syntax-dynamic-import", "@babel/plugin-proposal-class-properties"],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "browsers": ["and_chr >= 49", "iOS >= 11"]
      }
    }],
    "@babel/preset-react"
  ]
}
  